image: node:20

definitions:
  steps:
    - step: &install-dependencies
        name: Install dependencies
        script:
          - npm install --include=dev
        artifacts:
          - node_modules/**
          
    - step: &DevEnvironment-BuildCheck
        name: Dev Environment - Build Check
        script:
          - echo "Running build check in Dev environment..."
          - npm run build
          - echo "Dev environment build check completed successfully!"
          
    - step: &build-project
        name: Build project
        script:
          - rm -rf node_modules
          - npm install --include=dev
          - echo "Building project..."
          - npm run build
        artifacts:
          - dist/**
          
    - step: &test-project
        name: Test project
        script:
          - echo "Running tests..."
          
    - step: &deploy-Staging
        name: Deploy to Staging
        script:
          - echo "Deploying backend to Heroku Staging..."
          - git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/blu-backend-staging.git
          - git push heroku HEAD:main -f
          
    - step: &deploy-Prod
        name: Deploy to Production
        script:
          - echo "Deploying backend to Heroku Production..."
          - git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/blu-backend-prod.git
          - git push heroku HEAD:main -f

pipelines:
  branches:
    dev:
      - step: *install-dependencies
      - step: *DevEnvironment-BuildCheck
      
    staging:
      - step: *install-dependencies
      - step: *build-project
      - step: *test-project
      - step: *deploy-Staging
      
    main:
      - step: *install-dependencies
      - step: *build-project
      - step: *test-project
      # - step: *deploy-Prod
      
      
